@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript">
        $(()=>{
            var url = "ws://localhost:5010/chat";
            webSocket = new WebSocket(url);
            var id = window.location.search.replace("?","");

            var val = $("#from option:eq("+id+")").val();

            $("#send").click(function(){
                if(webSocket.readyState == 1){
                    webSocket.send($("#content").val());
                }
            })

            //Open connection  handler.
            webSocket.onopen = function () {
                webSocket.send(val);
                $("#div_receive").append("WebSocket opened" + "<br>");
            };

            //Message data handler.
            webSocket.onmessage = function (e) {
                $("#div_receive").append(e.data + "<br>");
            };

            //Close event handler.
            webSocket.onclose = function () {
                $("#div_receive").append("WebSocket closed." + "<br>");
            };

            //Error event handler.
            webSocket.onerror = function (e) {
                $("#div_receive").append(e.message + "<br>");
            }
        });
    </script>
</head>
<body>
    <div id="div_receive"></div>
    <div>
        <textarea id="content"></textarea>
    </div>
    <select id="from">
        <option value="">请选择</option>
        <option value="zs">张三</option>
        <option value="ls">李四</option>
        <option value="ww">王五</option>
    </select>
    <select id="to">
        <option value="">请选择</option>
        <option value="zs">张三</option>
        <option value="ls">李四</option>
        <option value="ww">王五</option>
    </select>
    <button type="button" id="send">发送</button>
</body>
</html>
